.Pagination {
  padding: 22px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 18.4px;
}

.Pagination ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.Pagination ul button {
  height: 20px;
  min-width: 20px;
  border: none;
}

.Pagination ul button:enabled:hover {
  cursor: pointer;
}

.Pagination ul button:disabled {
  background-color: transparent;
  color: #cccccc;
}

.Pagination ul button.active {
  background-color: #0087e9;
  color: #ffffff;
}
