.CommentsAction {
  margin-bottom: 30px;
}

.CommentsAction-btn-cancel {
  margin-left: 8px;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  background: none;
  border: none;
  padding: 0;
}

/* ///*/

.CommentForm {
  /* padding-right: 40px; */
}

.CommentForm-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.CommentForm-input > label {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

.CommentForm-input > textarea {
  resize: none;
  padding: 4px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
}

.CommentForm-actions {
  display: flex;
  gap: 10px;
}

.CommentForm-btn-send {
  font-size: 13px;
}

.CommentForm-btn-cancel {
  font-size: 13px;
}
