.Item {
  display: flex;
  justify-content: flex-start;

  transition: background-color 1s;
  padding: 19px;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  font-size: 16px;
  line-height: 20.7px;
}

.Item-actions {
  /* padding: 20px 20px 20px 10px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.Item-price {
  white-space: nowrap;
  font-size: 16px;
  line-height: 20.7px;
}

.Item a:link {
  color: #000000;
  text-decoration: none;
}

.Item a:active {
  text-decoration: underline;
}

.Item a:visited {
  color: #000000;
}

.Item a:hover {
  text-decoration: underline;
}
