.Controls {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.Controls > button {
  padding: 2px 16px;
}

.Controls-info {
  font-size: 18px;
  line-height: 20.7px;
}

.Controls-info span {
  font-weight: bold;
}
