.AuthHeader {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.AuthHeader-button {
  padding: 2px 8px;
  border-radius: 2px;
  border: 1px solid #767676;
  background: #efefef;
  color: #000;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.AuthHeader-link {
  color: #0087e9;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

button:hover {
  cursor: pointer;
}
